<mat-card>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'700'">
        <div>Found {{similarPapers.length}} similar paper(s)<br>
            <hr>
        </div>

        <div class="w3-margin-top w3-grey w3-padding" >
            <ngb-pagination class="d-flex justify-content-center"
                [(page)]="sim_page"
                [pageSize]="pageSize"
                [collectionSize]="similarPapers.length"
                [boundaryLinks]="true">
            </ngb-pagination>
            <div *ngFor="let paper of similarPapers | slice: (sim_page-1) * pageSize: (sim_page-1) * pageSize + pageSize" style="margin-top:10px;">    
                <mat-card class="w3-small w3-margin-top">
                    <table>
                        <tr class="w3-margin-bottom">
                            <td class="w3-right">Why:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span style="cursor:pointer">
                                    <span [innerHTML]="paper['similarity_explanation']"></span>
                                </span>
                            </td>    
                        </tr>
                        <tr class="w3-margin-bottom">
                            <td class="w3-right">Similarity:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span style="cursor:pointer">
                                    <span>{{paper.similarity}}</span>
                                </span>
                            </td>    
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr style="margin-top:10px">
                            <td class="w3-right">Title:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <b style="cursor:pointer">
                                    <!-- <span style="text-decoration: underline;" class="w3-text-indigo" [innerHTML]="getHighlights(query, paper['title'] | titlecase)"></span> -->
                                    <span (click)="viewPaper(paper)" style="text-decoration: underline;" class="w3-text-indigo">{{paper.title | titlecase}}</span>
                                </b>
                            </td>    
                        </tr>
                        <tr>
                            <td class="w3-right">Authors:</td> 
                            <td>&nbsp;</td>
                            <td class="w3-text-black">
                                <!-- <span [innerHTML]="getHighlights(query, paper['authors'] | titlecase)"></span> -->
                                <span>{{paper['authors'] | titlecase}}</span>
                            </td>    
                        </tr>
                        <!-- <tr>
                            <td class="w3-right">Abstract:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span [innerHTML]="getHighlights(query, paper['abstract'])"></span>
                            </td> 
                        </tr> -->
                        <tr>
                            <td class="w3-right">NLP Topic:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span>{{paper['nlp_task_1'] | titlecase}}</span>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w3-right">Operations:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span>{{paper['operations'] | titlecase}}</span>
                            </td> 
                        </tr>
                        <!-- <tr *ngIf="attr_natural_language[attr_index]==='operations'">
                            <td class="w3-right">Operations:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <span [innerHTML]="getHighlights(query, paper['operations'] | titlecase)"></span>
                            </td> 
                        </tr> -->
                        <tr>
                            <td class="w3-right">Explainability:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <!-- <span [innerHTML]="getHighlights(query, paper['explainability'] | titlecase)"></span> -->
                                <span>{{paper['main_explainability'] | titlecase}}</span>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w3-right">Visualization:</td> 
                            <td>&nbsp;</td>
                            <td>
                                <!-- <span [innerHTML]="getHighlights(query, paper['visualization'] | titlecase)"></span> -->
                                <span>{{paper['main_visualization'] | titlecase}}</span>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w3-right"></td> 
                            <td>&nbsp;</td>
                            <td class="w3-text-indigo">
                                <span>{{paper['venue'] | uppercase}}</span>
                                <span>&nbsp;</span>
                                <span>{{paper['year']}}</span>
                                <span>&nbsp;</span>
                                <!-- <span>Cited by {{paper['citation']}}</span> -->
                            </td> 
                        </tr>     
                    </table>
                </mat-card>
                
            </div>
            <ngb-pagination class="w3-margin-top d-flex justify-content-center"
                    [(page)]="sim_page"
                    [pageSize]="pageSize"
                    [collectionSize]="similarPapers.length"
                    [boundaryLinks]="true">
                </ngb-pagination>
        </div>
    </mat-card-content>
</mat-card>
