<div class="w3-padding">
  <div class="w3-content">
    <p><b class="w3-text-pink">INSTRUCTION:</b> 
        Explore publications with respect to the types of explanations. 
        Click the tree nodes to view relevant publications listed in tables.
        To get a global view of all the papers organized in tree structure, please go to <a routerLink="/clickabletree">Tree View</a>
    </p>
    <hr>
  </div>
  <div >
    <mui-org-chart [topEmployee]="nodes" direction="vertical" (itemClick)="popup($event)"></mui-org-chart>
  </div>
  <div *ngIf="selected_type!=undefined && selected_type.length > 0"  class="w3-margin w3-center">
    <p class="w3-margin-top w3-text-indigo w3-large">
          Showing <b>{{selected_sorted.length}}</b> papers for <b>{{selected_type}}</b></p>
    <p>(<b class="w3-text-pink">Columns are sortable, and rows are clickable</b>)</p>
    <div class="w3-padding w3-small">
      <table class="w3-table w3-striped	" matSort (matSortChange)="sortData_selected($event)">
        <tr class="w3-dark-grey w3-text-white">
          <th mat-sort-header="year">Year</th>
          <th>Title</th>
          <th mat-sort-header="main_explainability">Main Explainability</th>
          <th mat-sort-header="main_visualization">Main Visualization</th>
          <th mat-sort-header="citation">Citations</th>
          <th mat-sort-header="venue">Venue</th>
          <th mat-sort-header="nlp_task_1">NLP Topic</th>
        </tr>
        <tr class="w3-hover-grey {{getTableRowBackgroundColor(i)}}" *ngFor="let paper of selected_sorted; index as i" style="border-bottom: 1px ; cursor:pointer">
          <td>{{ paper.year}}</td>
          <td (click)="viewPaper(paper, 'Local Post-hoc')" >{{ paper.title | titlecase }}</td>
          <td (click)="viewDefinition(paper.main_explainability)">
                <span class="w3-hover-text-white"
                      ngbPopover="{{getPlainDefinition('explainability', paper.main_explainability | titlecase)}}"
                      triggers="mouseenter:mouseleave"
                      popoverTitle="{{paper.main_explainability | titlecase }}">{{paper.main_explainability | titlecase }}</span>
          </td>
          <td >
            <span class="w3-hover-text-white"
                      ngbPopover="{{getPlainDefinition('visualization', paper.main_visualization | titlecase)}}"
                      triggers="mouseenter:mouseleave"
                      popoverTitle="{{paper.main_visualization | titlecase }}">{{paper.main_visualization | titlecase }}</span>
          </td>
          <td>{{ paper.citation}}</td>
          <td>{{ paper.venue | uppercase}}</td>
          <td>{{ paper.nlp_task_1 | titlecase}}</td>
        </tr>
      </table>
    </div>
  </div>