<div class="w3-margin w3-padding">
    <p class="w3-text-blue-grey"><b>Publications are grouped into four different tabs based on the type of their explanation</b>
    </p>

    <p>
      <b>Remark</b>: the number of citations of each paper was obtained in May 2020.
    </p>

    <!-- <button mat-button (click)="viewPaper()">OPEN</button> -->
    <div class="w3-small w3-margin-top">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab>
          <ng-template ngbTabTitle class="w3-blue"><b class="w3-text-indigo w3-hover-grayscale" style="font-size: 14px;">Local Post-Hoc</b></ng-template>
          <ng-template ngbTabContent>
            <div class="w3-padding w3-light-grey">
              <table class="w3-table table-striped" matSort (matSortChange)="sortData_local_posthoc($event)">
                <tr>
                  <th mat-sort-header="year">Year</th>
                  <th>Title</th>
                  <th mat-sort-header="main_explainability">Main Explainability</th>
                  <th mat-sort-header="main_visualization">Main Visualization</th>
                  <th mat-sort-header="citation">Quotes</th>
                  <th mat-sort-header="venue">Venue</th>
                  <th>Link</th>
                  <th>Details</th>
                </tr>
                <tr class="w3-hover-grey" *ngFor="let paper of local_posthoc_sorted; index as i" style="cursor:pointer">
                  <td>{{ paper.year}}</td>
                  <td (click)="viewPaper(paper, 'Local Post-explaining')" >{{ paper.title | titlecase }}</td>
                  <td (click)="viewDefinition(paper.main_explainability)">
                        <span class="w3-hover-text-white"
                              ngbPopover="{{getPlainDefinition('explainability', paper.main_explainability | titlecase)}}"
                              triggers="mouseenter:mouseleave"
                              popoverTitle="{{paper.main_explainability | titlecase }}">{{paper.main_explainability | titlecase }}</span>
                  </td>
                  <td class="w3-hover-text-white" >
                    {{ paper.main_visualization | titlecase }}
                  </td>
                  <td>{{ paper.citation}}</td>
                  <td>{{ paper.venue | uppercase}}</td>
                  <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                  <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                </tr>
              </table>

                <!-- <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Title</th>
                      <th>Main Explainability</th>
                      <th>Main Visualization</th>
                      <th>Citations</th>
                      <th>Venue</th>
                      <th>Link</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="w3-hover-blue-grey" *ngFor="let paper of papers['local-post-hoc']; index as i" style="cursor:pointer">
                      <td>{{ paper.year}}</td>
                      <td  (click)="viewPaper(paper, 'Local Post-explaining')" >{{ paper.title}}</td>
                      <td class="w3-hover-text-blue" (click)="viewDefinition(paper.main_explainability)">{{paper.main_explainability}}</td>
                      <td class="w3-hover-text-blue" >{{ paper.main_visualization}}</td>
                      <td>{{ paper.citation}}</td>
                      <td>{{ paper.venue | uppercase}}</td>
                      <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                      <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle><b class="w3-text-indigo w3-hover-grayscale" style="font-size: 14px;">Local Self-Explaining</b></ng-template>
          <ng-template ngbTabContent>
            <div class="w3-padding w3-light-grey">
                <div>
                  <table class="w3-table table-striped" matSort (matSortChange)="sortData_local_self($event)">
                    <tr>
                      <th mat-sort-header="year">Year</th>
                      <th>Title</th>
                      <th mat-sort-header="main_explainability">Main Explainability</th>
                      <th mat-sort-header="main_visualization">Main Visualization</th>
                      <th mat-sort-header="citation">Quotes</th>
                      <th mat-sort-header="venue">Venue</th>
                      <th>Link</th>
                      <th>Details</th>
                    </tr>
                    <tr class="w3-hover-grey" *ngFor="let paper of local_self_sorted; index as i" style="cursor:pointer">
                      <td>{{ paper.year}}</td>
                      <td  (click)="viewPaper(paper, 'Local Post-explaining')" >{{ paper.title | titlecase }}</td>
                      <td class="w3-hover-text-white" (click)="viewDefinition(paper.main_explainability)">{{paper.main_explainability | titlecase }}</td>
                      <td class="w3-hover-text-white" >{{ paper.main_visualization | titlecase }}</td>
                      <td>{{ paper.citation}}</td>
                      <td>{{ paper.venue | uppercase}}</td>
                      <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                      <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                    </tr>
                  </table>

                  <!-- <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Main Explainability</th>
                        <th>Main Visualization</th>
                        <th>Citations</th>
                        <th>Venue</th>
                        <th>Link</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="w3-hover-blue-grey"  *ngFor="let paper of papers['local-self']; index as i" style="cursor:pointer">
                        <td>{{ paper.year}}</td>
                        <td (click)="viewPaper(paper, 'Local Self-explaining')">{{ paper.title}}</td>
                        <td class="w3-hover-text-blue" >{{ paper.main_explainability}}</td>
                        <td class="w3-hover-text-blue" >{{ paper.main_visualization}}</td>
                        <td>{{ paper.citation}}</td>
                        <td>{{ paper.venue | uppercase}}</td>
                        <td><a  class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                        <td (click)="viewPaper(paper, 'Local Self-explaining')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                      </tr>
                    </tbody>
                  </table> -->
                </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle><b class="w3-text-indigo w3-hover-grayscale" style="font-size: 14px;">Global Post-Hoc</b></ng-template>
          <ng-template ngbTabContent>
            <div class="w3-padding w3-light-grey">
                <div>
                  <table class="w3-table table-striped" matSort (matSortChange)="sortData_global_posthoc($event)">
                    <tr>
                      <th mat-sort-header="year">Year</th>
                      <th>Title</th>
                      <th mat-sort-header="main_explainability">Main Explainability</th>
                      <th mat-sort-header="main_visualization">Main Visualization</th>
                      <th mat-sort-header="citation">Quotes</th>
                      <th mat-sort-header="venue">Venue</th>
                      <th>Link</th>
                      <th>Details</th>
                    </tr>
                    <tr class="w3-hover-grey" *ngFor="let paper of global_posthoc_sorted; index as i" style="cursor:pointer">
                      <td>{{ paper.year}}</td>
                      <td  (click)="viewPaper(paper, 'Local Post-explaining')" >{{ paper.title | titlecase | titlecase  }}</td>
                      <td class="w3-hover-text-white" (click)="viewDefinition(paper.main_explainability)">{{paper.main_explainability  | titlecase }}</td>
                      <td class="w3-hover-text-white" >{{ paper.main_visualization  | titlecase }}</td>
                      <td>{{ paper.citation}}</td>
                      <td>{{ paper.venue | uppercase}}</td>
                      <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                      <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                    </tr>
                  </table>


                  <!-- <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Main Explainability</th>
                        <th>Main Visualization</th>
                        <th>Citations</th>
                        <th>Venue</th>
                        <th>Link</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  class="w3-hover-blue-grey" *ngFor="let paper of papers['global-post-hoc']; index as i" style="cursor:pointer">
                        <td>{{ paper.year}}</td>
                        <td (click)="viewPaper(paper, 'Global Post-hoc')">{{ paper.title}}</td>
                        <td class="w3-hover-text-blue" >{{ paper.main_explainability}}</td>
                        <td class="w3-hover-text-blue" >{{ paper.main_visualization}}</td>
                        <td>{{ paper.citation}}</td>
                        <td>{{ paper.venue | uppercase}}</td>
                        <td><a  class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                        <td (click)="viewPaper(paper, 'Global Post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                      </tr>
                    </tbody>
                  </table> -->
                </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle><b class="w3-text-indigo w3-hover-grayscale" style="font-size: 14px;">Global Self-Explaining</b></ng-template>
          <ng-template ngbTabContent>
            <div class="w3-padding w3-light-grey">
              <div>
                <table class="w3-table table-striped" matSort (matSortChange)="sortData_global_self($event)">
                    <tr>
                      <th mat-sort-header="year">Year</th>
                      <th>Title</th>
                      <th mat-sort-header="main_explainability">Main Explainability</th>
                      <th mat-sort-header="main_visualization">Main Visualization</th>
                      <th mat-sort-header="citation">Quotes</th>
                      <th mat-sort-header="venue">Venue</th>
                      <th>Link</th>
                      <th>Details</th>
                    </tr>
                    <tr class="w3-hover-grey" *ngFor="let paper of global_self_sorted; index as i" style="cursor:pointer">
                      <td>{{ paper.year}}</td>
                      <td  (click)="viewPaper(paper, 'Local Post-explaining')" >{{ paper.title | titlecase }}</td>
                      <td class="w3-hover-text-white" (click)="viewDefinition(paper.main_explainability)">{{paper.main_explainability | titlecase }}</td>
                      <td class="w3-hover-text-white" >{{ paper.main_visualization | titlecase }}</td>
                      <td>{{ paper.citation}}</td>
                      <td>{{ paper.venue | uppercase}}</td>
                      <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                      <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                    </tr>
                  </table>

                <!-- <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Title</th>
                      <th>Main Explainability</th>
                      <th>Main Visualization</th>
                      <th>Citations</th>
                      <th>Venue</th>
                      <th>Link</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  class="w3-hover-blue-grey" *ngFor="let paper of papers['global-self']; index as i" style="cursor:pointer">
                      <td>{{ paper.year}}</td>
                      <td (click)="viewPaper(paper, 'Global Self-explaining')">{{ paper.title}}</td>
                      <td class="w3-hover-text-blue" >{{ paper.main_explainability}}</td>
                      <td class="w3-hover-text-blue" >{{ paper.main_visualization}}</td>
                      <td>{{ paper.citation}}</td>
                      <td>{{ paper.venue | uppercase}}</td>
                      <td><a  class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
                      <td (click)="viewPaper(paper, 'Global Self-explaining')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
                    </tr>
                  </tbody>
                </table> -->
              </div>

            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

  </div>
