::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.8 !important;
  transform: translateY(0px) !important;
  color:white
}

.popover-content {
  color: red !important;
  font-size: 10px;
}