<div class="w3-padding">
  <div class="w3-content">
    <div class="w3-center">
      <p>Explore publications with respect to the types of explanations. Click the tree nodes to view relevant publications.</p>
    </div>
  </div>
  <div >
    <mui-org-chart [topEmployee]="nodes" direction="vertical" (itemClick)="popup($event)"></mui-org-chart>
  </div>
  <div *ngIf="selected_type!=undefined && selected_type.length > 0"  class="w3-margin w3-center">
    <p class="w3-margin-top w3-text-indigo w3-large">
          Showing <b>{{selected_sorted.length}}</b> papers for <b>{{selected_type}}</b> explanation</p>
    <p>(Columns are sortable; Rows are clickable)</p>
    <div class="w3-padding w3-light-grey">
      <table class="w3-table table-striped" matSort (matSortChange)="sortData_selected($event)">
        <tr>
          <th mat-sort-header="year">Year</th>
          <th>Title</th>
          <th mat-sort-header="main_explainability">Main Explainability</th>
          <th mat-sort-header="main_visualization">Main Visualization</th>
          <th mat-sort-header="citation">Citations</th>
          <th mat-sort-header="venue">Venue</th>
          <th>Link</th>
          <th>Details</th>
        </tr>
        <tr class="w3-hover-grey" *ngFor="let paper of selected_sorted; index as i" style="cursor:pointer">
          <td>{{ paper.year}}</td>
          <td (click)="viewPaper(paper, 'Local Post-hoc')" >{{ paper.title | titlecase }}</td>
          <td (click)="viewDefinition(paper.main_explainability)">
                <span class="w3-hover-text-white"
                      ngbPopover="{{getPlainDefinition('explainability', paper.main_explainability | titlecase)}}"
                      triggers="mouseenter:mouseleave"
                      popoverTitle="{{paper.main_explainability | titlecase }}">{{paper.main_explainability | titlecase }}</span>
          </td>
          <td >
            <span class="w3-hover-text-white"
                      ngbPopover="{{getPlainDefinition('visualization', paper.main_visualization | titlecase)}}"
                      triggers="mouseenter:mouseleave"
                      popoverTitle="{{paper.main_visualization | titlecase }}">{{paper.main_visualization | titlecase }}</span>
          </td>
          <td>{{ paper.citation}}</td>
          <td>{{ paper.venue | uppercase}}</td>
          <td><a class="w3-hover-text-white" href="{{paper.link}}" target="_blank">view</a></td>
          <td (click)="viewPaper(paper, 'Local post-hoc')"><span class="w3-small w3-text-blue w3-hover-text-white">Details</span></td>
        </tr>
      </table>
    </div>
  </div>