.def-container{
  padding: 20px;
  min-width: 730px;
}

.def-section{
  background-color: rgba(230, 230, 230, 1.0);
  box-shadow: none !important;
}

.title{
  display: flex;
  justify-content: left;
  align-items: left;
  color: black;
  margin-left: -10px;
}

.def-card{
  /* width: 250px; */
  /* height: 400px; */
  padding: 6px;
  margin: 6px;
  max-width: 350px;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
}


.def-card .text{
  margin-left: 6px;
  margin-right: 6px;
  font-size               : 16px;
  color               : rgba(109, 114, 120, 1.0);
}


.def-card .cite{
  font-size               : 14px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.card-container {
	padding-top: 10px;
}

.def-section-title {
	font-size: 24px;
	font-weight: 500;
}

.def-title {
	font-size: 22px;
	color: #4053af;
	margin-bottom: 0px;
	font-weight: normal;
}

.def-subtitle {
	font-size: 16px;
	color: #606060;
}

.page-title {
	font-size: 30px;
	font-weight: 500;
}

.page-content {
	font-size: 16px;
	margin-bottom: 30px;
}

::ng-deep.mat-tab-label .mat-tab-label-content {
  flex-wrap: wrap!important;
}

::ng-deep.mat-tab-label .mat-tab-label-content span{
  display: flex!important;
  flex: 1 0 100%!important;
  justify-content: center!important;
}

.tab-label {
	font-size: 18px;
	float: left;
}

.tab-desc {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 0;
	float: left;
}

.mat-tab-label {
    min-width: 25px !important;
    font-size: 18px;
    padding: 5px;
    background-color: #f2f2f2;
    font-weight: 0;
    border-left: 1px solid #aaaaaa;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: #e0e0e0;
    font-weight: 0;
    color: #3e519c;
}
