<div class="w3-margin"></div>
<div class="w3-content">

   <div *ngFor="let resource of resources">
      <div class="w3-margin-top w3-margin-bottom"><b>{{resource.resource_type | uppercase}}</b></div>
      <div class="w3-margin-top" *ngFor="let r of resource.resources; let idx = index">
         <div class="w3-large w3-margin-left"><a href="{{r.link}}" target="_blank">{{r.title}}</a></div>
         <div class="w3-margin-left"><i>{{r.authors}}</i></div>
         <div class="w3-margin-left">{{r.venue}} {{r.year}}</div>
         <!-- <div class="w3-margin-left"></div> -->
      </div>
      <hr>
   </div>

</div>