<div class="w3-margin-top w3-round w3-content w3-padding" style="background-color:#f5f5f5; width:90%">    
    <div class="w3-margin-top  w3-margin-bottom w3-padding">
        <span class="w3-margin-top w3-medium"><b>To add a new paper to the repository, please fill in the following form:</b>
        </span>

        <!-- <div class="w3-margin-top">&nbsp;</div> -->
        
        <div class="w3-small">
            <form>
                <label class="w3-margin-top">Title</label>
                <input class="w3-input" type='text'>

                <label class="w3-margin-top">Authors (separate author names with comma):</label>
                <input class="w3-input" type='text'>

                <label class="w3-margin-top">Url to paper:</label>
                <input class="w3-input" type='text'>

                <table width="100%">
                    <tr>
                        <td width="50%">
                            <label class="w3-margin-top">Publication Year:</label>
                            <input class="w3-input" type='text'>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <label class="w3-margin-top">Publication Venue:</label>
                            <input class="w3-input" type='text'>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <label class="w3-margin-top">NLP Topic</label>
                            <select class="w3-select" name="option">
                                <option value="" disabled selected>Choose your topic (from ACL call for papers)</option>
                                <option *ngFor="let topic of nlp_topics" value="{{topic}}">{{topic}}</option>
                            </select>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <label class="w3-margin-top">Specific NLP task (Your own description of the topic of the paper, optional)</label>
                            <input class="w3-input" type='text'>
                        </td>
                    </tr>
                </table>
            </form>

            <div class="w3-margin-top">&nbsp;</div>

            <div class="w3-margin-top" *ngIf="true">
                <div class="w3-margin-top w3-card-2 w3-round w3-white">
                    <div class="w3-blue-grey w3-padding w3-medium" style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
                        Explainability Questionnaire
                    </div>
                    <div class="w3-margin-top w3-padding">
                        <div class="w3-medium">Local vs. Global</div>  
                        <p class="w3-text-indigo w3-small"><i>Explanation: A local explanation provides information or jus-tification
                            for the model’s prediction on a specificsingle input, while a global provides that justification by
                            revealing how the model’s predictive process works, independently of any particular input.</i></p>
                        <div>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="local">Local Explanation</mat-radio-button>
                                <mat-radio-button class="w3-margin-left" value="global">Global Explanation</mat-radio-button>
                                <mat-radio-button class="w3-margin-left" value="both">Both</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    
                    <mat-divider></mat-divider>
                    <div class="w3-margin-top w3-padding">
                        <div class="w3-medium">Self-explaining vs. Post-hoc processing</div>  
                        <p class="w3-text-indigo w3-small"><i>Explanation: Self-explaining means the explanation is generated as part of the prediction, whereas\
                            post-hoc processing means the explanation is generated as a separate step after the prediction is made.</i>
                        </p>
                        <div>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="local">Self-explaining</mat-radio-button>
                                <mat-radio-button class="w3-margin-left" value="global">Post-hoc processing</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    
                    <mat-divider></mat-divider>
                    <div class="w3-margin-top w3-padding">
                        <div class="w3-medium">Explainability Techniques</div>  
                        <p class="w3-text-indigo w3-small"><i>Explanation: Techniques that used to generate the raw mathematical justifications of 
                            explanation. Note that it is different from visualization techniques.</i>
                        </p>

        
                        <div  width="100%">
                            <table width="100%">
                                <tr>
                                    <td class="w3-padding w3-light-grey" width="50%">
                                        <span class="w3-margin-right">All Explainability techniques that apply:</span>
                                        <mat-form-field>
                                            <mat-select [(value)]="selected_exp" 
                                                        (selectionChange)="update_exp($event)"
                                                        [formControl]="expControl" multiple>
                                                <mat-option *ngFor="let technique of exp_techniques" value="{{technique}}">{{technique}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="w3-padding w3-light-grey" >
                                        <span class="w3-margin-right">Main Explainability (only one):</span>
                                        <mat-form-field>
                                            <mat-select [(value)]="main_exp" 
                                                        (selectionChange)="update_main_exp($event)"
                                                        [formControl]="main_expControl">
                                                <mat-option *ngFor="let technique of exp_techniques" value="{{technique}}">{{technique}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>


                    <mat-divider></mat-divider>
                    <div class="w3-margin-top w3-padding">
                        <div class="w3-medium">Visualization Techniques</div>  
                        <p class="w3-text-indigo w3-small"><i>Explanation: Techniques that used to visually present the raw mathematical justifications of 
                            explanation generated by specific explainability technique.</i>
                        </p>

        
                        <div  width="100%">
                            <table width="100%">
                                <tr>
                                    <td class="w3-padding w3-light-grey " width="50%">
                                        <span class="w3-margin-right">All Visualization techniques that apply:</span>
                                        <mat-form-field>
                                            <mat-select [(value)]="selected_viz" 
                                                        (selectionChange)="update_viz($event)"
                                                        [formControl]="vizControl" multiple>
                                                <mat-option *ngFor="let technique of viz_techniques" value="{{technique}}">{{technique}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="w3-padding w3-light-grey" >
                                        <span class="w3-margin-right">Main Visualization (only one):</span>
                                        <mat-form-field>
                                            <mat-select [(value)]="main_exp" 
                                                        (selectionChange)="update_main_viz($event)"
                                                        [formControl]="main_vizControl">
                                                <mat-option *ngFor="let technique of viz_techniques" value="{{technique}}">{{technique}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="w3-margin-top">&nbsp;</div> 
                </div>

                <div class="w3-content w3-center example-button-row w3-margin w3-padding">
                    <button mat-raised-button 
                            class="w3-margin-right" 
                            color="primary"
                            (click)="openSnackBar('Request submitted for review', 'OK')">Submit for Review</button>

                    <!-- <button mat-raised-button 
                            color="warn"
                            (click)="openSnackBar('Request submitted for review')"
                            >Submit for Without Review</button> -->
                </div>
            </div>
        <div>
    </div>
</div>