<h5 mat-dialog-title>Paper Details</h5>
<div class="w3-small  w3-margin-top" mat-dialog-content>
  <table>
    <tbody style="max-width:1000px">
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Explanation Type:</td>
        <td><b><span class="w3-margin-left">{{data.xai_type | titlecase}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Title:</td>
        <td><b><span class="w3-margin-left">{{data.title}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Paper link:</td>
        <td><b><a class="w3-margin-left" href="{{data.link}}" target="_blank">{{data.link}}</a></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Authors:</td>
        <td><b><span class="w3-margin-left">{{data.authors}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Year:</td>
        <td><b><span class="w3-margin-left">{{data.year}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Venue:</td>
        <td><b><span class="w3-margin-left">{{data.venue}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td>Type of paper:</td>
        <td><b><span class="w3-margin-left">{{data.type}}</span></b></td>
      </tr>
      <!-- <tr class="w3-margin-top w3-margin-bottom">
        <td>Citations:</td>
        <td><b><span class="w3-margin-left">{{data.citation}}</span></b></td>
      </tr> -->

      <tr class="w3-margin-top w3-margin-bottom">
        <td>Main NLP task:</td>
        <td><b><span class="w3-margin-left">{{data.nlp_task_1}}</span></b></td>
      </tr>
      <tr class="w3-margin-top w3-margin-bottom">
        <td style="min-width:100px">Operations:</td>
        <td><b><span class="w3-margin-left">{{data.operations | titlecase}}</span></b></td>
      </tr>

      <tr class="w3-margin-top w3-margin-bottom">
        <td style="min-width:100px">Evaluation Metrics:</td>
        <td><b><span class="w3-margin-left">{{data.evaluation_metrics}}</span></b></td>
      </tr>

      <tr *ngIf="data.abstract != undefined" class="w3-margin-top w3-margin-bottom">
        <td style="min-width:100px">Abstract:</td>
        <td style="max-width:700px"><p class="w3-margin-left">{{data.abstract}}</p></td>
      </tr>
    </tbody>
  </table>
  <div class="w3-margin-top w3-padding-large w3-dark-grey w3-content" style="min-height:200px">
    <p>Preview</p>
    <ngb-carousel *ngIf="images">
      <ng-template *ngFor="let img of images; let imgIdx=index" ngbSlide class="w3-black" alt="No preview available">
        <div class="picsum-img-wrapper w3-center w3-content" style="min-height:300px">
          <img [src]="images[imgIdx]"  style="height:250px">
        </div>
      </ng-template>
      <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper w3-center w3-content" style="height:250px">
          <img [src]="images[1]"  style="height:250px">
        </div>
      </ng-template> -->
    </ngb-carousel>
  </div>
</div>