<body>

  <!-- <div class="topbar">
    <div class="background"></div>
    <div class="title">XAI-NLP</div>
  </div> -->

  <div class="w3-padding-large w3-bar w3-indigo">
    <a routerLink="/home" routerLinkActive="active"  class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
    <a routerLink="/definitions" class="w3-bar-item w3-button"><i class="fa fa-file-text-o"></i> Definitions</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button"><i class="fa fa-list"></i> Publications</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/viz" class="w3-bar-item w3-button"><i class="fa fa-pie-chart" aria-hidden="true"></i> Visualization</a>
        <a routerLink="/search" class="w3-bar-item w3-button"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        <a routerLink="/network" class="w3-bar-item w3-button"><i class="fa fa-share-alt" aria-hidden="true"></i> Citation Network</a>
        <a routerLink="/tree" class="w3-bar-item w3-button"><i class="fa fa-table" aria-hidden="true"></i> Table</a>
      </div>
    </div>
    <a routerLink="/newpapers" class="w3-bar-item w3-button"><i class="fa fa-plus-square"></i> Add New Papers</a>
 
    
  </div>

  <main class="main">
    <router-outlet style="margin-top: 80px;"></router-outlet>
  </main>


</body>

