<div class="w3-margin-top w3-light-grey w3-center w3-round w3-content w3-padding">
    <p>Visualization of Paper Clusters</p>
    <div class="w3-row">
        <!-- <mat-slider
            [thumbLabel]=true 
            [tickInterval]="0.5"
            [min]="5"
            [max]="20"
            [(ngModel)]="symbol_size">
        </mat-slider> -->
    </div>
</div>
<div class="w3-margin-top w3-light-grey w3-center w3-round w3-content w3-padding">
    <div echarts [options]="options" style="width:100%" (chartClick)="go2paper($event)"></div>
</div>