<div class="w3-margin-top w3-round w3-content w3-padding" style="width:75%">
  <div>
    <span class="w3-large">Welcome, this is a companion website of the following the following survey paper submitted to AACL 2020</span>

    <div class="w3-margin w3-padding">
      <i class="w3-large">"A Survey of the State of Explainable AI for Natural Language Processing."</i><br>
      <i>Anonymous authors from anonymous affliations.</i><br>
    </div>

    <div class="w3-border w3-margin-top">
      <div class="w3-padding-small w3-grey w3-text-white">Structure of the website</div>
      <div class="w3-margin w3-padding-small">
        <p>Core concepts are introduced in <a routerLink="/definitions">Definitions</a> and XAI papers are listed <a routerLink="/tree">XAI Publications.</a></p>
      </div>
    </div>

    <div class="w3-border w3-margin-top">
      <div class="w3-padding-small w3-grey w3-text-white">Scope of Literature Review</div>
      <div class="w3-padding-small">
        <p></p>
      </div>
    </div>


    <div class="w3-border w3-margin-top">
      <div class="w3-padding-small w3-grey w3-text-white">Scope of Literature Review</div>
      <div class="w3-padding-small">
        <p></p>
      </div>
    </div>
  </div>
      
</div>
  
  