<div class="w3-margin-top w3-round w3-content w3-padding" style="width:90%">
  <div>
    <span class="w3-margin-top w3-large">Welcome, this is a companion website of the following survey paper that is currently under review</span>

    <div class="w3-margin-top w3-sand w3-padding-16">
      <i class="w3-padding">"A Survey of the State of Explainable AI for Natural Language Processing."</i><br>
      <span class="w3-padding">Anonymous authors from anonymous affliations.</span><br>
      <span class="w3-padding">venue ??. Pages ??-??</span><br>
    </div>

    <!-- <div class="w3-margin-top">&nbsp;</div> -->
    
    <div class="w3-border w3-margin-top">
      <div class="w3-padding-small w3-dark-grey w3-text-white">Structure of the website</div>
      <div class="w3-padding">
        <p>Core concepts are introduced in <a routerLink="/definitions">Definitions</a> and XAI papers are listed <a routerLink="/tree">XAI Publications.</a></p>
      </div>
    </div>

    <div class="w3-border w3-margin-top">
      <div class="w3-padding-small w3-dark-grey w3-text-white">Literature Review</div>
      <div class="w3-padding">
        <p><span><b>Goal:</b></span> This survey aims to demonstrate the recent advances of XAI research in NLP, rather than to provide an exhaustive list of XAI papers in the NLP community. 
          To this end, we identified relevant papers published in major NLP conferences (ACL, NAACL, EMNLP, and COLING) between 2013 and 2019 (papers after 2019 are also in our
          pipeline).
        </p>
          
        <p><span><b>Search criteria for XAI papers for NLP:</b></span>
          We filtered for titles containing (lemma-tized) terms related to XAI, such as “explainability”, “interpretability”, “transparent”, etc.  
          While this may ignore some related papers, we argue that representative papers are more likely to include such terms in their titles. In particular, 
          we assume that if authors consider explainability to be a majorcomponent of their work, they are more likely touse related keywords in the title of their work.</p>
        <p>Our search criteria yielded a set of 107 papers. During the paper review process we first verified whether each paper truly fell within the scope of the survey. 
          This process excluded 56 papers, leaving us with a total of <b>51</b> papers (by the end of 2019). The following tables reveals the top 3 NLP topics that these papers
        study and top 3 conference venues that they were published.</p>
        
        <div class="w3-row">
          <div class="w3-col s6 w3-center">
            <div class="w3-margin w3-content w3-border w3-small">
              <table class="w3-content w3-center table table-striped">
                <thead>
                <tr>
                  <th class="w3-grey" colspan="3" scope="col">Top 3 NLP Topics</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Question Answering</td>
                    <td>Computational Social Science & Social Media</td>
                    <td>Syntax: Tagging, Chunking & Parsing</td>
                  </tr>
                  <tr>
                    <td>9 papers</td>
                    <td>6 papers</td>
                    <td>6 papers</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="w3-col s6 w3-center">
            <div class="w3-margin w3-border w3-content w3-small">
              <table class="w3-content w3-center table table-striped">
                <thead>
                <tr>
                  <th class="w3-grey" colspan="3" scope="col">Top 3 Conferences</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>EMNLP</td>
                    <td>ACL</td>
                    <td>NAACL</td>
                  </tr>
                  <tr>
                    <td>22 papers</td>
                    <td>11 papers</td>
                    <td>9 papers</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
          
        
          <!-- <div class="w3-margin w3-border w3-content w3-small" style="width:50%">
            <table class="w3-content w3-center table table-striped">
              <thead>
              <tr>
                <th colspan="3" scope="col">Top 3 Conferences</th>
              </tr>
              </thead>
              <tbody>
                <td>EMNLP (22 papers)</td>
                <td>ACL (11 papers)</td>
                <td>NAACL (9 papers)</td>
              </tbody>
            </table>
          </div> -->
        
        
          <p><span><b>Reviewing methodology:</b></span>
          Each paper was then classified across four major aspects: <i>explainability</i>, <i>operations to enable explainability</i>, <i>visualization</i>, and <i>evaluation metrics</i>.
          To ensure a consistent classification, each paper was individually reviewed by at least two reviewers, consulting additional reviewers in the case of disagreement. 
          For simplicity of presentation, we label each paper with its main applicable category for each aspect. However, some papers may span multiple categories within an aspect, 
          though usually with varying degrees of emphasis. We include all relevant categories for every paper in website, with the goal of enablingthe readers of this survey to discover 
          interesting explainability techniques and ideas, even if they have not been fully developed in the respective publications. 
        </p>
        </div>


    </div>

  </div>
      
  <div class="w3-border w3-margin-top">
    <div class="w3-padding-small w3-dark-grey w3-text-white">Contact Us</div>
    <div class="w3-padding">
      <p>As we mentioned in our literature review, our goal is not to provide an exhaustive list of XAI papers in the NLP community, 
        and our search criteria may ignore certain XAI papers in NLP.</p>
      If you know papers that we missed but should be included in the survey and this website, please contact us at 
      <address>
        <a href="mailto:xainlp2020@gmail.com">xainlp2020@gmail.com</a>
      </address>
    </div>
  </div>

</div>
  
  